.warnaprimer {
 background-color: #d67d3e;
 color: #fff;
}

.warnadanger {
    background-color: #f44f4f;
    color: #fff;
}

.warnacancel {
    background-color:#7e7f84;
    color: #fff;
}

.warnaputih {
    background-color: #fff;
}

.navbar-brand-box {
   border-bottom: 1px solid #fff;
}

.navbar-header .logoinstansii img {
    margin-top: 17px;
    margin-left: 14px;
    width: 40px;
}

.navbar-header .nminstansi h6 {
     font-size: 15px;
    margin-top: 29px;
    margin-left: 13px;
}

.warnafont{
    color: #fff;
}

#sidebar-menu ul li a {
    color: #fff;
}

#sidebar-menu ul li a i{
    color: #fff;
}

.logo-lg .logoo img {
    width: 40px;
}

.logo-sm img {
   width: 45px;
   margin-left: -11px;
}

.logo-lg .logoo h3 {
   color: #fff;
   font-size: 19px;
   margin-top: 24px;
}

.mm-active>a {
    color: #ffffff!important;
}

.mm-active>a i{
    color: #ffffff!important;

}

.mm-active .active {
    color: #fff!important;
}

.mm-active .active i {
    color: #fff!important;
}


.cardhasil{
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.cardhasil .card-header {
    text-align: center;
    min-width: 10vw;
	min-height: 5vh;
}

.cardhasil .card-body {
    text-align: center;
    height: 150px;
}

.cardhasil .card-body h5{
    font-size: 25px;
    color: #858796;
    font-weight: 400;
}

.cardhasil .card-body h6{
    font-size: 20px;
    color: #858796;
    font-weight: 400;
}


